			<div class="bc-content-container bc-landing-hero-container">
				<section class="bc-content-row bc-hero--landing-hero bc-hero--landing-hero--carousel bc-design-process"> 
					<article class="bc-hero-block">
						<div class="bc-hero__carousel">
							<div class="bc-hero__carousel__slide bc-hero-image cover-slide">
								<div class="bc-hero__carousel__slide__text">
									<h1>Coiste Na Mí GAA Centre of Excellence </h1>
									<div class="bc-hero-body-subtext ">
										<a href="javscript:void()"> 
											Design process
											<svg class="svg-icon">
												<use xlink:href="../assets/media/svg/bc-icons.svg#play"></use>  
											</svg>	
										</a>
									</div>	
								</div>
								<img src="../assets/media/imgs/landing-page-featured/dunganny-GAA-coe-main.jpg" alt="Meath GAA Centre of Excellence">
								<div class="bc-hero__carousel__slide__overlay"></div>
							</div>	
							<picture class="bc-hero__carousel__slide bc-hero-image">
								<img src="../assets/media/imgs/projects/13041-meath-GAA-COE-sketch-drawing.png" alt="Meath project drawing">
							</picture>
							<picture class="bc-hero__carousel__slide bc-hero-image">
								<img src="../assets/media/imgs/projects/13041-meath-GAA-COE-plan-drawing.png" alt="Meath GAA Ccentre of Excellence">
							</picture>		
							<a href="javascript:void(0)" class="bc-hero__carousel__control is-hidden bc-hero__carousel__control--prev">
								<svg class="svg-icon">
									<use xlink:href="../assets/media/svg/bc-icons.svg#carat--left"></use>
								</svg>	
							</a>
							<a href="javascript:void(0)" class="bc-hero__carousel__control is-hidden bc-hero__carousel__control--next">
								<svg class="svg-icon">
									<use xlink:href="../assets/media/svg/bc-icons.svg#carat"></use>
								</svg>	
							</a>
						</div><!-- // .bc-hero__carousel -->
					</article><!-- // .bc-hero-block -->
				</section>	<!-- // .bc-hero--landing-hero--carousel -->
			</div><!-- // .bc-content-container -->