<ul class="bc-inner-nav bc-breadcrumbs-links"> 
	<li>
		<span>Cooney Architects:</span> <a class="bc-breadcrumb-link is-label">Projects</a>
		<a class="bc-inner-nav-label"  href="javascript:void(0)">
			<span class="">Filter projects:</span>
		</a> 
		<a class="bc-inner-nav-icon" href="javascript:void(0)">
			<svg class="svg-icon svg-funnel-icon">
				<use xlink:href="/assets/media/svg/bc-icons.svg#funnel"></use>
			</svg>	
			<svg class="svg-icon svg-close-icon">
				<use xlink:href="/assets/media/svg/bc-icons.svg#close-x"></use>
			</svg>	
		</a>		
		<ul class="bc-inner-nav-dropdown ca-project-filters"> 
			<li class="bc-inner-nav-active"><a data-filter="all-projects" class="ca-project-filter active" href="javascript:void(0)">All projects</a></li>
			<li><a class="ca-project-filter" data-filter="project-category" href="javascript:void(0)">Category</a></li>
			<li><a class="ca-project-filter" data-filter="project-date" href="javascript:void(0)">Date</a></li>
		</ul>
	</li>
</ul><!-- // .bc-inner-nav -->