<ul class="bc-inner-nav">
	<li>
<!--			<nav class="bc-inner-nav-breadcrumbs is-label">Projects</nav>-->
		<a class="bc-inner-nav-label"  href="javascript:void(0)">
			<span class="">Filter projects:</span>
		</a>
		<a class="bc-inner-nav-icon" href="javascript:void(0)">
			<svg class="svg-icon">
				<use xlink:href="/assets/media/svg/bc-icons.svg#funnel"></use>
			</svg>	
		</a>		
		<ul class="bc-inner-nav-dropdown">
			<li class="bc-inner-nav-active"><a data-filter="all" href="javascript:void(0)">All projects</a></li>
			<li><a data-filter="category" href="javascript:void(0)">Category</a></li>
			<li><a data-filter="category" href="javascript:void(0)">Date</a></li>
			<li>
				<a class="bc-inner-nav-label "  href="javascript:void(0)">
					<span class="">Filter projects:</span>
				</a>
				<a class="bc-inner-nav-icon" href="javascript:void(0)">
					<svg class="svg-icon">
						<use xlink:href="/assets/media/svg/bc-icons.svg#funnel"></use>
					</svg>	
				</a>
				<ul class="bc-inner-nav-dropdown"> 
					<li class="bc-inner-nav-active"><a data-filter="all" href="javascript:void(0)">All projects</a></li>
					<li><a data-filter="category" href="javascript:void(0)">Category</a></li>
					<li><a data-filter="category" href="javascript:void(0)">Date</a></li>
				</ul>
			</li>
		</ul>
	</li>
	<li>
		<!--			<nav class="bc-inner-nav-breadcrumbs is-label">Projects</nav>-->
		<a class="bc-inner-nav-label "  href="javascript:void(0)">
			<span class="">Filter projects:</span>
		</a>
		<a class="bc-inner-nav-icon" href="javascript:void(0)">
			<svg class="svg-icon">
				<use xlink:href="/assets/media/svg/bc-icons.svg#funnel"></use>
			</svg>	
		</a>		
		<ul class="bc-inner-nav-dropdown"> 
			<li class="bc-inner-nav-active"><a data-filter="all" href="javascript:void(0)">All projects</a></li>
			<li><a data-filter="category" href="javascript:void(0)">Category</a></li>
			<li><a data-filter="category" href="javascript:void(0)">Date</a></li>
		</ul>
	</li>
	
</ul><!-- // .bc-inner-nav -->