			
			<div class="bc-content-container bc-landing-hero-container">
				@@include('structure/header-nav.html', {"header-class": "bc-hero-header"}) 
				<section class="bc-hero--landing-hero">
					<article class="bc-hero-block">
							<picture class="bc-hero-image">
								<source srcset="./assets/media/imgs/meath-gaa-centre-of-excellence-1.jpg"
							media="(min-width: 900px) and (orientation: landscape)">
							<source srcset="./assets/media/imgs/meath-gaa-centre-of-excellence-2.jpg"
							media="(max-width: 899px)">
								<img src="./assets/media/imgs/meath-gaa-centre-of-excellence-2.jpg" alt="Meath GAA Centre of Excellence">
								<div class="bc-gradient-overlay"></div>
							</picture>
							<div class="bc-hero-body">
								
								<div class="bc-landing-hero-text">
									<div class="bc-landing-hero-quote-mark">
										<svg class="svg-icon scroll-down-arrow">
											<use xlink:href="./assets/media/svg/bc-icons.svg#quotes"></use>
										</svg>	
									</div>	
									<h1>What if every single act of intervention, design and construction makes society a better place?</h1>

								</div><!-- // .bc-landing-hero-text -->
								<ul class="bc-landing-hero-links">
										<li class="hero-projects-link">
											<a class="bc-roll-up-link" href="projects/projects.html">
												Projects
												<svg class="svg-icon">
													<use xlink:href="./assets/media/svg/bc-icons.svg#arrow"></use>
												</svg>
											</a>										
										</li>
										<li class="hero-practice-link">
											<a class="bc-roll-up-link" href="practice/practice.html">
												Practice
												<svg class="svg-icon">
													<use xlink:href="./assets/media/svg/bc-icons.svg#arrow"></use>
												</svg>
											</a>
										</li>
										<li class="hero-people-link">
											<a class="bc-roll-up-link" href="people/people.html">
												People
												<svg class="svg-icon">
													<use xlink:href="./assets/media/svg/bc-icons.svg#arrow"></use>
												</svg>	
											</a>
										</li>
									</ul>
							</div>
					</article>
				</section>	
			</div><!-- // .bc-content-container -->