			<div class="bc-content-container bc-landing-hero-container">
				<section class="bc-content-row bc-hero bc-landing-hero">
					<article class="bc-hero-block">
						<picture class="bc-hero-image">
							<source srcset="/assets/media/imgs/meath-gaa-centre-of-excellence-1.jpg"
            media="(min-width: 900px) and (orientation: landscape)">
            <source srcset="/assets/media/imgs/meath-gaa-centre-of-excellence-2.jpg"
            media="(max-width: 899px)">
							<img src="/assets/media/imgs/meath-gaa-centre-of-excellence-2.jpg" alt="Meath GAA Centre of Excellence">
						</picture>
						<div class="bc-hero-header bc-header-menu--show-hide">
							<div class="bc-header-logo">
								<h1><a href="/"><span>Cooney</span>Architects</a></h1>	
							</div> 
							<a href="javascript:void(0)" class="bc-header-menu__toggle">
								<svg class="svg-icon scroll-down-arrow">
									<use xlink:href="/assets/media/svg/bc-icons.svg#menu-thin"></use>
								</svg>	
							</a>
							<ul class="bc-header-menu__links"> 
								<li class="bc-header-menu__link"><a href="/landing.html">Home</a></li>
								<li class="bc-header-menu__link"><a href="/projects/projects.html">Projects</a></li>
								<li class="bc-header-menu__link"><a href="/practice/practice.html">Practice</a></li>
								<li class="bc-header-menu__link"><a href="/people/people.html">People</a></li>
							</ul>
						</div><!-- // .bc-hero-header -->
						<div class="bc-header-menu--mobile">
							<h3 class="bc-header-menu__heading">Site index</h3>
							<ul class="bc-header-menu__links"> 
								<li class="bc-header-menu__link"><a href="/landing.html">Home</a></li>
								<li class="bc-header-menu__link"><a href="/projects.html">Projects</a></li>
								<li class="bc-header-menu__link"><a href="/practice.html">Practice</a></li>
								<li class="bc-header-menu__link"><a href="/people.html">People</a></li>
							</ul>
							<h3 class="bc-header-menu__heading">Contact</h3> 
							<div class="bc-header-menu__contact">
							
								<p class="ca-contact-detail">The Old Brewers Club,<br />
								32 The Coombe,<br />
								Dublin 8</p>
								<p class="ca-contact-detail">Moyer,<br />
								Bailieborough,<br />
								Co. Cavan</p>
								<p class="ca-contact-detail"><a href="tel:01 4533444">+353 1 4533444</a><br />
								<a href="info@cooneyarchitects.com">info@cooneyarchitects.com</a></p>
								
							</div>
							
						</div>
						<div class="bc-hero-body">
							<div class="bc-landing-hero-text">
								<div class="bc-landing-hero-quote">
									<div class="bc-landing-hero-quote-mark">
										<svg class="svg-icon scroll-down-arrow">
											<use xlink:href="/assets/media/svg/bc-icons.svg#quotes"></use>
										</svg>	
									</div>
									<h1>What if every single act of intervention, design and construction makes society a better place?</h1>
								</div>
							</div><!-- // .bc-landing-hero-text -->
							<ul class="bc-landing-hero-links">
									<li class="hero-projects-link">
										<span class="bc-color-square"></span>
										<a class="bc-roll-up-link" href="/projects/projects.html">
											
											<span class="bc-landing-hero-link-text">
												Projects	
											</span>
											<span class="bc-roll-up-link-default bc-dots-hover"></span>
											<span class="bc-roll-up-link-active bc-arrow-hover">
												<svg class="svg-icon scroll-down-arrow">
													<use xlink:href="/assets/media/svg/bc-icons.svg#arrow"></use>
												</svg>	
											</span>
										</a>										
									</li>
									<li class="hero-practice-link">
										<span class="bc-color-square"></span>
										<a class="bc-roll-up-link" href="/practice/practice.html">
											<span class="bc-landing-hero-link-text">
												Practice
											</span> 
											<span class="bc-roll-up-link-default bc-dots-hover"></span>
											<span class="bc-roll-up-link-active bc-arrow-hover">
												<svg class="svg-icon scroll-down-arrow">
													<use xlink:href="/assets/media/svg/bc-icons.svg#arrow"></use>
												</svg>	
											</span>
										</a>
									</li>
									<li class="hero-people-link">
										<span class="bc-color-square"></span>
										<a class="bc-roll-up-link" href="/people/people.html">
											<span class="bc-landing-hero-link-text">
												People
											</span>
											<span class="bc-roll-up-link-default bc-dots-hover"></span>
											<span class="bc-roll-up-link-active bc-arrow-hover">
												<svg class="svg-icon scroll-down-arrow">
													<use xlink:href="/assets/media/svg/bc-icons.svg#arrow"></use>
												</svg>	
											</span>
										</a>
									</li>
								</ul>
						</div>
					</article>
				</section>	
			</div><!-- // .bc-content-container -->