			<div class="bc-content-container bc-landing-hero-container">
				
				@@include('structure/header-nav.html', {"header-class": "bc-hero-header"})
				<section class="bc-hero--landing-hero--carousel"> 
					<article class="bc-hero-block">
						<div class="bc-hero__carousel">
								<picture class="bc-hero__carousel__slide bc-hero-image">
									<source srcset="./assets/media/imgs/meath-gaa-centre-of-excellence-1.jpg"
									media="(min-width: 900px) and (orientation: landscape), (max-width: 899px) and (orientation: landscape)">
									<source srcset="./assets/media/imgs/meath-gaa-centre-of-excellence-2.jpg"
									media="(max-width: 899px) and (orientation: landscape)">
									<img src="./assets/media/imgs/landing-page-featured/dunganny-GAA-coe-main.jpg" alt="Meath GAA Centre of Excellence">
									<div class="bc-gradient-overlay"></div>
								</picture>	
								<picture class="bc-hero__carousel__slide bc-hero-image">
									<img src="./assets/media/imgs//landing-page-featured/i-lofar.jpg" alt="I-LOFAR project image">
									<div class="bc-gradient-overlay"></div>
								</picture>
								<picture class="bc-hero__carousel__slide bc-hero-image">
									<img src="./assets/media/imgs//landing-page-featured/tallaght-stadium-N81-west-view.jpg" alt="Tallaght Stadium North Stand">
									<div class="bc-gradient-overlay"></div>
								</picture>		
						</div><!-- // .bc-hero__carousel -->
						
						
						<div class="bc-hero-body">
							<div class="bc-landing-hero-text">
									<div class="bc-landing-hero-quote-mark">
										<svg class="svg-icon scroll-down-arrow">
											<use xlink:href="./assets/media/svg/bc-icons.svg#quotes"></use>
										</svg>	
									</div>
									<h1>What if every single act of intervention, design and construction makes society a better place?</h1>
							</div><!-- // .bc-landing-hero-text -->
							<ul class="bc-landing-hero-links">
								<li class="hero-projects-link">
									<a class="bc-roll-up-link" href="./projects/projects.html">
										Projects	
										<svg class="svg-icon">
											<use xlink:href="./assets/media/svg/bc-icons.svg#arrow"></use>
										</svg>
									</a>										
								</li>
								<li class="hero-practice-link">
									<a class="bc-roll-up-link" href="./practice/practice.html">
										Practice
										<svg class="svg-icon">
											<use xlink:href="./assets/media/svg/bc-icons.svg#arrow"></use>
										</svg>
									</a>
								</li>
								<li class="hero-people-link">
									<a class="bc-roll-up-link" href="./people/people.html">
										People
										<svg class="svg-icon">
											<use xlink:href="./assets/media/svg/bc-icons.svg#arrow"></use>
										</svg>
									</a>
								</li>
							</ul><!-- // .bc-landing-hero-links -->
							<div class="bc-hero__carousel__info">
								<div class="bc-hero__carousel__info__text">
									<div class="bc-hero__carousel__titles__track">
										<h2 class="bc-hero__carousel__title ">
											<a href="./projects/meath-project.html">
												<span class="bc-hero__carousel__title__text">Meath GAA Centre of Excellence</span>
												<svg class="svg-icon">
													<use xlink:href="./assets/media/svg/bc-icons.svg#arrow"></use>
												</svg>
											</a>
										</h2>	
										<h2 class="bc-hero__carousel__title">
											<a href="./projects/meath-project.html">
												<span class="bc-hero__carousel__title__text">I-LOFAR Birr Telescope Centre</span>
												<svg class="svg-icon">
													<use xlink:href="./assets/media/svg/bc-icons.svg#arrow"></use>
												</svg>
											</a>
										</h2>	
										<h2 class="bc-hero__carousel__title">
											<a href="./projects/meath-project.html">
												<span class="bc-hero__carousel__title__text">Tallaght Stadium, North Stand</span>
												<svg class="svg-icon">
													<use xlink:href="./assets/media/svg/bc-icons.svg#arrow"></use>
												</svg>
											</a>
										</h2>	
									</div><!-- // .bc-hero__carousel__titles__track -->
								</div><!-- // .bc-hero__carousel__info__text -->
								<div class="bc-hero__carousel__controls is-playing">
									<a href="javascript:void()" title="Previous" class="bc-hero__carousel__control bc-hero__carousel__controls__prev">
										<svg class="svg-icon">
											<use xlink:href="./assets/media/svg/bc-icons.svg#carat--left"></use>
										</svg>	
									</a>
									<!--<a href="javascript:void()"  title="Play/pause/replay"  class="bc-hero__carousel__control bc-hero__carousel__controls__play">
										<span class="is-label play">
											<svg class="svg-icon">
												<use xlink:href="./assets/media/svg/bc-icons.svg#play--simple"></use>
											</svg>	
										</span>
										<span class="is-label stop">
											<svg class="svg-icon">
												<use xlink:href="./assets/media/svg/bc-icons.svg#pause"></use>
											</svg>
										</span>
									</a>-->
									<a href="javascript:void()" title="Previous" class="bc-hero__carousel__control bc-hero__carousel__controls__next">
										<svg class="svg-icon">
											<use xlink:href="./assets/media/svg/bc-icons.svg#carat"></use>
										</svg>	
									</a>
								</div><!-- // .bc-hero__carousel__controls -->
							</div><!-- // .bc-hero__carousel__info -->
						</div><!-- // .bc-hero-body -->
						
					</article><!-- // .bc-hero-block -->
				</section>	<!-- // .bc-hero--landing-hero--carousel -->
			</div><!-- // .bc-content-container -->