			<div class="bc-content-container bc-landing-hero-container">
				<section class="bc-content-row bc-hero--landing-hero">
					<article class="bc-hero-block">
							<picture class="bc-hero-image">
								<source srcset="assets/media/imgs/meath-gaa-centre-of-excellence-1.jpg"
							media="(min-width: 900px) and (orientation: landscape)">
							<source srcset="assets/media/imgs/meath-gaa-centre-of-excellence-2.jpg"
							media="(max-width: 899px)">
								<img src="assets/media/imgs/meath-gaa-centre-of-excellence-2.jpg" alt="Meath GAA Centre of Excellence">
								<div class="bc-gradient-overlay"></div>
							</picture>
							<div class="bc-hero-header bc-header-menu--show-hide">
								<div class="bc-header-logo">
									<h1><a href="index.html"><span>Cooney</span>Architects</a></h1>	
								</div> 
								<a href="javascript:void(0)" class="bc-header-menu__toggle">
									<svg class="svg-icon scroll-down-arrow">
										<use xlink:href="assets/media/svg/bc-icons.svg#menu-thin"></use>
									</svg>	
								</a>
								<ul class="bc-header-menu__links"> 
									<li class="bc-header-menu__link">
										<a class="bc-roll-up-link" href="../landing.html">
											<span class="bc-roll-up-link-default ">Home</span>
											<span class="bc-roll-up-link-active ">
												Home
												<svg class="svg-icon scroll-down-arrow">
													<use xlink:href="../assets/media/svg/bc-icons.svg#arrow"></use>
												</svg>	
											</span>
										</a>
									</li>
									<li class="bc-header-menu__link">
										<a class="projects-link bc-roll-up-link" href="../projects/projects.html">
											<span class="bc-roll-up-link-default ">Projects</span>
											<span class="bc-roll-up-link-active ">
												<!--<span class="bc-color-square"></span>-->
												Projects
												<svg class="svg-icon scroll-down-arrow">
													<use xlink:href="../assets/media/svg/bc-icons.svg#arrow"></use>
												</svg>	
											</span>
										</a>
									</li>
									<li class="bc-header-menu__link">
										<a class="practice-link bc-roll-up-link" href="../practice/practice.html">
											<span class="bc-roll-up-link-default ">Practice</span>
												<span class="bc-roll-up-link-active ">
													Practice
													<svg class="svg-icon scroll-down-arrow">
														<use xlink:href="../assets/media/svg/bc-icons.svg#arrow"></use>
													</svg>	
												</span>
											</a>
									</li>
									<li class="bc-header-menu__link">
										<a class="bc-roll-up-link people-link" href="../people/people.html">
												<span class="bc-roll-up-link-default ">People</span>
												<span class="bc-roll-up-link-active ">
													People
													<svg class="svg-icon scroll-down-arrow">
														<use xlink:href="../assets/media/svg/bc-icons.svg#arrow"></use>
													</svg>	
												</span>
										</a>
									</li>
								</ul><!-- // .bc-header-menu__links -->
							</div><!-- // .bc-hero-header -->
							<div class="bc-header-menu--mobile">
								<h3 class="bc-header-menu__heading">Site index</h3>
								<ul class="bc-header-menu__links"> 
									<li class="bc-header-menu__link"><a href="landing.html">Home</a></li>
									<li class="bc-header-menu__link"><a href="projects/projects.html">Projects</a></li>
									<li class="bc-header-menu__link"><a href="practice/practice.html">Practice</a></li>
									<li class="bc-header-menu__link"><a href="people/people.html">People</a></li>
								</ul>
								<h3 class="bc-header-menu__heading">Contact</h3> 
								<div class="bc-header-menu__contact">
									<div class="bc-header-menu__contact__detail">
										<h4 class="bc-header-menu__subheading">Dublin office</h4>
										<p class="ca-contact-detail">The Old Brewers Club,<br />
										32 The Coombe,<br />
										Dublin 8</p>
										<p class="ca-contact-detail"><a href="tel:01 4533444">+353 1 4533444</a><br />
										<a href="mail@cooneyarchitects.com">mail@cooneyarchitects.com</a></p>	
									</div>
									<div class="bc-header-menu__contact__detail">
										<h4 class="bc-header-menu__subheading">Cavan office</h4>
										<p class="ca-contact-detail">Moyer,<br />
										Bailieborough,<br />
										Co. Cavan</p>
										<p class="ca-contact-detail"><a href="tel:087 2224887">+353 87 2224887</a><br />	
									</div>
								</div>
							</div><!-- // .bc-header-menu__contact -->
							<div class="bc-hero-body">
								<div style="display: none;" class="bc-landing-hero__news">
									<span class="is-label">Read about</span><br />
									<p>
										<a href="projects/meath-project.html">
											Cooney Architects win prestigious Architectural Award First Prize
											<svg class="svg-icon scroll-down-arrow">
												<use xlink:href="assets/media/svg/bc-icons.svg#arrow"></use>
											</svg>
										</a>
										
									</p>	
								</div> 
								
								<div class="bc-landing-hero-text">
									<div class="bc-landing-hero-quote-mark">
										<svg class="svg-icon scroll-down-arrow">
											<use xlink:href="assets/media/svg/bc-icons.svg#quotes"></use>
										</svg>	
									</div>	
									<h1>What if every single act of intervention, design and construction makes society a better place?</h1>

								</div><!-- // .bc-landing-hero-text -->
								<ul class="bc-landing-hero-links">
										<li class="hero-projects-link">
											<a class="bc-roll-up-link" href="projects/projects.html">
												Projects
												<svg class="svg-icon">
													<use xlink:href="assets/media/svg/bc-icons.svg#arrow"></use>
												</svg>
											</a>										
										</li>
										<li class="hero-practice-link">
											<a class="bc-roll-up-link" href="practice/practice.html">
												Practice
												<svg class="svg-icon">
													<use xlink:href="assets/media/svg/bc-icons.svg#arrow"></use>
												</svg>
											</a>
										</li>
										<li class="hero-people-link">
											<a class="bc-roll-up-link" href="people/people.html">
												People
												<svg class="svg-icon">
													<use xlink:href="assets/media/svg/bc-icons.svg#arrow"></use>
												</svg>	
											</a>
										</li>
									</ul>
							</div>
					</article>
				</section>	
			</div><!-- // .bc-content-container -->