			<div class="bc-content-container">
				<section class="bc-content-row bc-cards-row bc-cards-row--full-bleed" aria-label="My full-bleed cards">
					<div class="bc-cards-heading">
						<div class="bc-card--plain-text__wrap">
							<h2>Slide-up cards full-bleed</h2>	
						</div>
					</div>
					<article class="bc-card bc-card--slide-up">
						<figure class="bc-card-img is-square">
							<img src="/assets/media/imgs/framework/square-fill.jpg" alt="Image alt" />		
						</figure>
						<div class="bc-card-content">
							<a href="javascript:void(0)">
								<div class="bc-card-info">
									<h2 class="bc-card-title">Card title</h2>
									<p class="bc-card-subtitle">Card subtitle</p>
								</div>
								<div class="bc-card-link">
									<span class="bc-card-link-text">More reading</span> 
									<svg class="svg-icon">
										<use xlink:href="/assets/media/svg/bc-icons.svg#arrow"></use>
									</svg>	
								</div>
							</a>
						</div>
					</article><!-- // .bc-card.bc-card--slide-up -->
					<article class="bc-card bc-card--slide-up">
						<figure class="bc-card-img is-square">
							<img src="/assets/media/imgs/framework/square-fill.jpg" alt="Image alt" />		
						</figure>
						<div class="bc-card-content">
							<a href="javascript:void(0)">
								<div class="bc-card-info">
									<h2 class="bc-card-title">Card title</h2>
									<p class="bc-card-subtitle">Card subtitle</p>
								</div>
								<div class="bc-card-link">
									<span class="bc-card-link-text">More reading</span> 
									<svg class="svg-icon">
										<use xlink:href="/assets/media/svg/bc-icons.svg#arrow"></use>
									</svg>	
								</div>
							</a>
						</div>
					</article><!-- // .bc-card.bc-card--slide-up -->
					<article class="bc-card bc-card--slide-up">
						<figure class="bc-card-img is-square">
							<img src="/assets/media/imgs/framework/square-fill.jpg" alt="Image alt" />		
						</figure>
						<div class="bc-card-content">
							<a href="javascript:void(0)">
								<div class="bc-card-info">
									<h2 class="bc-card-title">Card title</h2>
									<p class="bc-card-subtitle">Card subtitle</p>
								</div>
								<div class="bc-card-link">
									<span class="bc-card-link-text">More reading</span> 
									<svg class="svg-icon">
										<use xlink:href="/assets/media/svg/bc-icons.svg#arrow"></use>
									</svg>	
								</div>
							</a>
						</div>
					</article><!-- // .bc-card.bc-card--slide-up -->
					<article class="bc-card bc-card--slide-up">
						<figure class="bc-card-img is-square">
							<img src="/assets/media/imgs/framework/square-fill.jpg" alt="Image alt" />		
						</figure>
						<div class="bc-card-content">
							<a href="javascript:void(0)">
								<div class="bc-card-info">
									<h2 class="bc-card-title">Card title</h2>
									<p class="bc-card-subtitle">Card subtitle</p>
								</div>
								<div class="bc-card-link">
									<span class="bc-card-link-text">More reading</span> 
									<svg class="svg-icon">
										<use xlink:href="/assets/media/svg/bc-icons.svg#arrow"></use>
									</svg>	
								</div>
							</a>
						</div>
					</article><!-- // .bc-card.bc-card--slide-up -->
					<article class="bc-card bc-card--slide-up">
						<figure class="bc-card-img is-square">
							<img src="/assets/media/imgs/framework/square-fill.jpg" alt="Image alt" />		
						</figure>
						<div class="bc-card-content">
							<a href="javascript:void(0)">
								<div class="bc-card-info">
									<h2 class="bc-card-title">Card title</h2>
									<p class="bc-card-subtitle">Card subtitle</p>
								</div>
								<div class="bc-card-link">
									<span class="bc-card-link-text">More reading</span> 
									<svg class="svg-icon">
										<use xlink:href="/assets/media/svg/bc-icons.svg#arrow"></use>
									</svg>	
								</div>
							</a>
						</div>
					</article><!-- // .bc-card.bc-card--slide-up -->
					<article class="bc-card bc-card--slide-up">
						<figure class="bc-card-img is-square">
							<img src="/assets/media/imgs/framework/square-fill.jpg" alt="Image alt" />		
						</figure>
						<div class="bc-card-content">
							<a href="javascript:void(0)">
								<div class="bc-card-info">
									<h2 class="bc-card-title">Card title</h2>
									<p class="bc-card-subtitle">Card subtitle</p>
								</div>
								<div class="bc-card-link">
									<span class="bc-card-link-text">More reading</span> 
									<svg class="svg-icon">
										<use xlink:href="/assets/media/svg/bc-icons.svg#arrow"></use>
									</svg>	
								</div>
							</a>
						</div>
					</article><!-- // .bc-card.bc-card--slide-up -->
					<article class="bc-card bc-card--slide-up">
						<figure class="bc-card-img is-square">
							<img src="/assets/media/imgs/framework/square-fill.jpg" alt="Image alt" />		
						</figure>
						<div class="bc-card-content">
							<a href="javascript:void(0)">
								<div class="bc-card-info">
									<h2 class="bc-card-title">Card title</h2>
									<p class="bc-card-subtitle">Card subtitle</p>
								</div>
								<div class="bc-card-link">
									<span class="bc-card-link-text">More reading</span> 
									<svg class="svg-icon">
										<use xlink:href="/assets/media/svg/bc-icons.svg#arrow"></use>
									</svg>	
								</div>
							</a>
						</div>
					</article><!-- // .bc-card.bc-card--slide-up -->
					<article class="bc-card bc-card--slide-up">
						<figure class="bc-card-img is-square">
							<img src="/assets/media/imgs/framework/square-fill.jpg" alt="Image alt" />		
						</figure>
						<div class="bc-card-content">
							<a href="javascript:void(0)">
								<div class="bc-card-info">
									<h2 class="bc-card-title">Card title</h2>
									<p class="bc-card-subtitle">Card subtitle</p>
								</div>
								<div class="bc-card-link">
									<span class="bc-card-link-text">More reading</span> 
									<svg class="svg-icon">
										<use xlink:href="/assets/media/svg/bc-icons.svg#arrow"></use>
									</svg>	
								</div>
							</a>
						</div>
					</article><!-- // .bc-card.bc-card--slide-up -->
				</section><!-- // .cards-row -->
			</div><!-- // .bc-content-container - Slide-up cards full-bleed -->