		<div class="bc-content-container ca-hero-container"> 
			<section class="bc-hero bc-content-row ">
				<div class="bc-hero-block bc-hero-bg" style="background-image: url('/assets/media/imgs/national-velodrome-image-2-16x9.jpg')"> 
					<div class="bc-hero-body" >
						<div class="bc-hero-body-text">
							<h1>Coiste Na Mí GAA Centre of Excellence </h1>
							<div class="bc-hero-body-subtext">
								<a href="javscript:void">
									<p>Design process</p>
									<svg class="svg-icon">
										<use xlink:href="/assets/media/svg/bc-icons.svg#play"></use>
									</svg>	
								</a>
							</div>	
						</div>
					</div>
				</div><!-- // .bc-hero-block -->
				<div class="bc-hero-footer"> 
					<a class="bc-hero-footer-scroll" href="javascript:void(0)">
						<span class="is-label scroll-text">
							Thinking 
						</span>
						<svg class="svg-icon scroll-down-arrow">
							<use xlink:href="/assets/media/svg/bc-icons.svg#arrow--down"></use>
						</svg>
						<svg class="svg-icon scroll-arrow-background">
							<use xlink:href="/assets/media/svg/bc-icons.svg#scroll-down"></use>
						</svg>
					</a>
				</div><!-- // .bc-hero-footer -->	
			</section>
		</div>