@import 'framework/variables';
@import 'framework/mixins';
@import 'vendor/normalize';


html {
  font-size: 14px;
  line-height: $gutter-unit; 
	color: $black;
}

/*@media screen and (min-width: 320px) {
  html { 
    font-size: calc(14px + 8 * ((100vw - 320px) / (1920 - 320)));
  }
}*/

@media screen and (min-width: $tablet) {
  html {
    font-size: 16px; 
  }
}
@media screen and (min-width: $large) {
  html {
    font-size: 18px; 
  }
}
@media screen and (min-width: $xx-large) {
  html {
    font-size: 22px;
  }
}
body {
  font-family: azo-sans-web, sans-serif;
}
h1, h2, h3, h4, h5 {
  line-height: 1.3;
	margin-top: $gutter;
  margin-bottom: 0;
}
h1 { font-size: 2.0rem; font-weight: 300; }
h2 { font-size: 1.5rem; }
h3 { font-size: 1.25rem; }
h4 { font-size: 1.125rem }
h5 { font-size: 1rem; }
p, li, blockquote {
	font-weight: 300;
}
p {
	margin-top: $gutter;
	margin-bottom: $gutter/8;
}
ul {
	li {
		margin-bottom: $gutter/4;
	}
}
.leader-text {
	font-size: 1.125rem;
	font-weight: 500;
}
strong {
	font-weight: 500;
}
a {
  color: inherit;
	text-decoration: none;
	@include linkHover;
}
.svg-icon {
	fill: $black;
}
/* Utils */
.is-label {
  @include makeLabel();
}
.is-inset {
	@include makeInset();
}
.ca-button {
	@include makeFlexbox($direction: row, $align: stretch);
	.icon-wrap, a {
		display: inline-flex;
		align-items: center;
	}
	.icon-wrap {
		background-color: $shade-mid;
		padding: $gutter/4 $gutter/4;
		margin-left: 	$gutter/8;
		margin-right: $gutter/8;
	}
	.svg-icon {
		fill: 			$white;
		max-width: 	1.5rem;
		max-height: 1.5rem;
	}
	a {
		font-size: 0.8rem;
		font-weight: 300;
		color: $black;
		padding-left: 	$gutter/2;
		padding-right: 	$gutter/2;
		background-color: $shade-lightest;
		transition: background-color $buttonTransition $easing;
		&:hover, &:focus, &:active {
			background-color: $shade-mid;
			color: $white;
		}
	}
}
.is-hidden {
	opacity: 0 !important;
}
.ca-arrow-link {
	font-weight: bold;
	@include makeFlexbox($direction: row, $justify: flex-start, $align: center);
	a {
		text-decoration: none;
		&:hover, &:active, &:focus {
			text-decoration: underline;
		}
	}
	.svg-icon {
		max-width: 	1.5rem;
		max-height: 1.5rem;
		margin-right: $gutter/4 ;
		margin-left: 	$gutter/4 ;
	}
}
.content-separator {
	flex: 					1 1 auto;
	border-left: 		2px dotted rgba($black, 0.24); 
	position: relative; 
	&:before {
		content: "";
		position: absolute;
		width: 		$gutter*1.5;
		height: 	$gutter*1.5;
		background-color: rgba($black, 0.36);
		border: 0.143rem solid $white; /* 2px @ 14px */
		transform: translate(50%, -50%);
	}
}
.leader-text-squares {
	width: calc((2 * (1rem + #{$gutter/2})) + 1.68rem);
	@include makeFlexbox(row, space-between, center);
	.square {
		width: 	1.0rem;
		height: 1.0rem;
		background-color: $brand-yellow;
		&:nth-child(2) {
			background-color: $black;
			width: 	1.68rem;
		}
	}
}
.bc-color-square {
	width: 14%;
	display: inline-block;
	position: relative;
	&:after {
		content: "";
		position: absolute;
		top: 50%;
		left: 50%;
		transform: translate(-50%, -50%);
		width: 	1.0rem;
		height: 1.0rem;
		background-color: $brand-blue;
		@media screen and (min-width: 400px) {
			width: 	1.125rem;
			height: 1.125rem;
		}
	}
}
.bc-feature-leader__content {
	max-width: #{(740/14)}rem;
}
.bc-gradient-overlay {
	position: absolute;
	height: 100%;
	width: 100%;
	@include linearGradient(to bottom, rgba(32,32,32,0) 40%, rgba(32,32,32,1) 100%);
}
/* Colour utils - for use on containers */
.is-brand-yellow {
	background-color: $brand-yellow;
	h1, h2, h3, h4, h5, p, li, a, blockquote {
		color: $text;
	}
}
.is-brand-blue, .is-brand-red, .is-black {
	h1, h2, h3, h4, h5, p, li, a, blockquote {
		color: $white;
	}
	.svg-icon {
		fill: $white;
	}
}
.is-brand-blue {
	background-color: $brand-blue;
}
.is-brand-red {
	background-color: $brand-red;
}
.is-black {
	background-color: $black;
}
@import 'framework/grid'		;
@import 'framework/layout'	; 
@import 'framework/animations'; 
@import 'framework/header'; 
@import 'components/bc-inner-nav';
@import 'components/bc-breadcrumbs';
@import 'components/bc-hero';
@import 'components/bc-media';
@import 'components/bc-cards';
@import 'framework/tables';
@import 'framework/general-content';
/** -- Back links at the bottom of inner pages -- **/
@import 'components/colour-schemes'; 
@import 'structure/footer'; 

/* Inner page */

.bc-inner-nav {
	@include makeCols(10);
	& li &-label {
		display: inline;
		font-size: 0.8rem;
		font-weight: 300;
		text-decoration: none;
		text-align: right;
		padding-right: $gutter/2;
		
	}
	& li &-icon {
		padding-left: $gutter/2;
		.svg-close-icon {
			display: none;
		}
		&.active {
			.svg-funnel-icon {
				display: none;
			}
			.svg-close-icon {
				display: inherit;
			}
		}
	}
	& &-dropdown {
		font-size: 0.8rem;
		&.active {
			padding-top: 		$gutter/8;
			padding-bottom: $gutter/12;
			
			overflow: visible;
		}
		a {
			padding-top: 		$gutter/10;
			padding-bottom: $gutter/10;
			&.active {
				position: relative;
				&::before {
					content: "";
					position: absolute;
					left: -0.57rem;
					top: 50%;
					transform: translateY(-50%);
					border-width: 			0.285rem;
					border-color: 			transparent;
					border-style: 			solid;
					border-left-color: 	rgba($black, 0.8);
				}
			}
			&:hover, &:active, &:focus {
				background-color: $black;
				color: $brand-yellow;
			}
		}
	}
	li {
		&:hover, &:active, &:focus {
			> a:not(.bc-inner-nav-icon) {
				background-color: transparent;
			}
			> .bc-inner-nav-label {
				background-color: transparent;
			}		
		}
	}
	@media screen and (min-width: $desktop) {
		& &-label {
			font-size: 0.72rem;
		}
	}
}
.bc-breadcrumbs {
	padding-top: 0;
}
.bc-breadcrumbs-links {
	height: calc(8vh); 
	li:last-child {
		font-weight: 500; 
	}
	li:first-child {
		font-weight: 300; 
	}
	&.active {
		height: auto;
	}
	&.bc-inner-nav {
		> li {
			.bc-inner-nav-label, .bc-inner-nav-dropdown > li {
				text-transform: none;	
			}
			font-weight: normal;
			width: 100%;
		}
	}
}

@media screen and (min-width: $tablet) {
	.bc-breadcrumbs-links {
		&.bc-inner-nav {
			.bc-inner-nav-label, .bc-inner-nav-icon {
				align-self: flex-end;
			}
			.bc-inner-nav-icon {
				display: none;
			}
			li .bc-inner-nav-dropdown {
				min-width: 0;
				height: auto;
				display: inline-flex;
				flex-direction: row;
				align-items: center;
				overflow: visible;
				> li {
					padding-right: $gutter/4; 
					a {
						padding-top: 0;
						padding-bottom: 0;
					}
				}
				a {
					&.active {
						&:before {
							top: auto;
							left: 50%;
							transform: translateX(-50%);
							bottom: -0.5rem;
							border-left-color: $white;
							border-bottom-color: $black;	
						}
					}
				}
			}
		}
	}
}
@media screen and (min-width: $tablet) and (orientation: portrait) {
	.bc-breadcrumbs-links {
		height: 5vh;
	}
}

*.is-invisible {
	display: none;
}
.bc-breadcrumbs-container {
	position: relative;
	display: flex;
	flex-direction: column;
	overflow: hidden;
}
.bc-breadcrumbs {
	&.has-project-filter {
		position: relative;
		display: flex;
		justify-content: space-between;
		align-items: center;
		overflow: hidden;
		opacity: 1;
		transition: max-height 320ms ease-out;
	}
}
/* Projects page */
main {
	position: relative;
	.ca-projects {
		&-filter-title {
			font-weight: 200;
			padding-left: $gutter/2;
			padding-right: $gutter/2;
			margin-top: $gutter/2;
			margin-bottom: $gutter;
			width: 100%;
			flex: 1 1 100%;
			@media screen and (min-width: $desktop) {
				/*width:  (6/$gridColsCount)*100%;	
				margin-left: (2/$gridColsCount)*100%;*/
			}
		}	
	}
}
.ca-project-filters {
	position: relative;
	top: -0.75rem;
	right: $gutter/2;
	display: inline-flex;
	justify-content: flex-end;
	align-items: center;
	flex-wrap: wrap;
	height: 0;
	padding-left: $gutter/2;
	padding-right: $gutter/2;
	
	& &__list {
		opacity: 1;
		display: flex;
		justify-content: flex-end;
		width: 100%;
		margin: 0;
		padding: 0;
		transition: opacity 320ms ease-out ;
		> li {
			list-style: none;
			margin: 0;
			padding: 0 $gutter/2;
		}
		&.is-invisible {
			opacity: 0;
			visibility: hidden;
		}
	}
	&-toggle {
		flex: 1 1 50%;
		display: flex;
		align-items: center;
		justify-content: flex-end;
		padding-right: $gutter/2
	}
	&-toggle &__label {
		font-size: 0.8rem;
		font-weight: 400;
		text-decoration: none;
		margin-right: $gutter/2;
	}
	.ca-project-filter {
		padding: $gutter/2 $gutter/2;
	}	
	&-toggle &__show-hide {
		position: relative;
		width: 	1.25rem;
		height: 1.25rem;
	}
	&-toggle &__show-hide {
		
		transition: opacity 420ms ease-out;
		.svg-icon {
			position: absolute;
			@include centerObject;
			width: 	1rem;
			height: 1rem;
		}
		.svg-funnel-icon {
			opacity: 1;
		}	
		.svg-close-icon {
			opacity: 0;
		}	
		&.is-active {
			.svg-close-icon {
				opacity: 1;
			}	
			.svg-funnel-icon {
				opacity: 0;
			}	
		}
	}
	@media screen and (min-width: $tablet) {
		.ca-project-filter {
			padding: $gutter/2 $gutter/4;
		}	
	}
}

.ca-projects {
	@media screen and (min-width:  500px) {
		flex-direction: row;
		flex-wrap: wrap;
	}
}
.bc-card {
	@media screen and (min-width: 500px) {
		flex-basis: 50%; 
		max-width: 	50%;
		.bc-card-title {
			font-size: 1.125rem;
		}
		.bc-card-subtitle {
			font-size: 1rem;
		}
	}// @ max-width 500px
	@media screen and (min-width: 600px) {
		flex-basis: 33.333%;
		max-width: 	33.333%;
		.bc-card-title {
			font-size: 1.0rem;
		}
		.bc-card-subtitle {
			font-size: 0.8rem;
		}
	}
	@media screen and (min-width: $desktop) {
		flex-basis: 25%;
		max-width: 	25%;
	}
	
	@media screen and (min-width: $med) {	
		flex-basis: 20%;
		max-width: 	20%;
	}
}//.bc-card


/* Full profile pages */
.ca-profile-projects {
	padding-top: 0;
	@include makeInset(); 
}
.person-qualifications {
	td { 
		&:first-child {
			font-weight: 500;
			padding-right: $gutter;
		}
	}
}
@import 'components/two-col-feature'; 
@import 'components/bc-landing-hero-video';  
.bc-hero--landing-hero {
	.bc-gradient-overlay {
		@include linearGradient(to bottom, rgba(0, 0, 0, 0.06) 10%, rgba(0,0,0,0) 40%, rgba(0,0,0,0.48) 80%);
	}
}
/** Feature component footer **/
.bc-feature-footer { 
	@include makeFlexbox(row, flex-end, stretch, wrap);
	flex: 1 1 10%;
	height: 3rem;
	padding-top: 		$vertical-unit/2;
	padding-bottom: $vertical-unit;
	&__scroll {
		@include makeFlexbox(row, flex-end, center);
		width: calc(100% - 10%);
		
		margin-right: 10%;
		&__link {
			padding-top: 		$vertical-unit;
			padding-bottom: $vertical-unit;
		}
		> a {
			position: relative;
			display: flex;
			justify-content: space-between;
			align-items: center;
			font-size: 0.68rem;
			font-weight: 500;
			text-decoration: none;
			text-transform: uppercase;
			color: $shade-09;
			&:after {
				content: " ";
				position: absolute;
				right: calc(#{$gutter} + #{$gutter}/4);
				top: 0;
				width: 1px;
				height: 3.125rem;
				background-color: $shade-09;
			}
			@include linkHover {
				color: $black;
				.svg-icon {
					fill: $black;
				}
			}
		}
		> a, .svg-icon {
			transition: color 520ms ease-out
		}
	}
	.svg-icon {
		position: relative;
		fill: 			$shade-09; 
		max-width: 	1.125rem;
		max-height: 1.125rem; 
		margin-left: $gutter;
		transform: rotate(180deg);
	}
	
	@media screen and (min-width: $tablet) {
		flex-basis: 10%;
	}
}// .bc-feature-footer
.is-brand-blue, .is-brand-red, .is-black {
	.bc-feature-footer {
		&__scroll {
			> a {
				color: $shade-04;
				@include linkHover {
					color: $white;
					.svg-icon {
						fill: $white;
					}	
				}
				&:after {
					background-color: $shade-04;
				}
			}
		}
		.svg-icon {
			fill: $shade-04;
		}
	}
}
.is-brand-yellow {
	.bc-feature-footer {
		&__scroll {
			> a {
				color: $text;
				&:after {
					background-color: $text;
				}
				@include linkHover {
					color: $black;
					.svg-icon {
						fill: $black;
					}	
				}
			}
		}
		.svg-icon {
			fill: $text;
		}
	}
}
/** Two-col feature - has an image and a text block **/
.two-col-feature {
	width: 100%;
	
	figcaption {
		@include makeFlexbox($direction: row, $align: stretch);
		margin-bottom: $gutter*1.5;
		padding-top: 		$gutter;
		padding-bottom: $gutter;
		.svg-icon {
			fill: $brand-red;
			max-width: 	1.25rem;
			
			max-height: 1.25rem;	
			margin-top: 0.4rem;
			margin-right: $gutter/2;
		}
		> p {
			font-family: 	$serifFont;
			font-size: 1.36rem;
			line-height: 1.4; 
			margin-top: 0;
			margin-left: $gutter/2;
		}
		position: relative;
		&:before {
			content: "";
			position: absolute;
			bottom: 0;
			left: 0;
			height: 0.21428571428571rem ;/*  3px @ 14px base font-size */ 
			width: 16%;
			background-color: $brand-red;
		}
	}
	.bc-general-content-wrap {
		h1, h2, h3, h4, h5, ul, p, blockquote, hr, .person-qualifications, .ca-arrow-link {
			max-width: 600px;
			margin-left: 	auto;
			margin-right: auto;
			@media screen and (min-width: $large) {
				max-width: 660px;
			}
			@media screen and (min-width: $xx-large) {
				max-width: 820px;
			}
		}
		.person-qualifications {
			width: 100%;
		}
	}
	.content-subtitle { color: $brand-red; }
	
	@media screen and (min-width: 1089px) {
		align-items: stretch;
		max-width: 90%;
		margin-left: 	auto;
		margin-right: auto;
		
	}
	
}// .two-col-feature 
/** -- Two-col feature - has an image and a text block -- **/
/** Media content extensions **/
.bc-video-embed {
	object, iframe {
		/*left: 			50%;
		transform: 	translateX(-50%);*/
	}
}
@media screen and (min-width: $med) {
	.bc-video-embed {
		max-width: 90%;
		margin-left: 	auto;
		margin-right: auto;
	}
}

/* Individual Projects */
.bc-general-content {
	&.is-project-description {	
		padding-top: 3rem;
	}
	.is-project-title {
		font-size: 2.125rem;
		margin-bottom: 3rem;
	}
}
.project-intro {
	font-size: 1.125rem;
	font-weight: 500;
	line-height: 1.6;
}
.project-recognition-list {
	padding-left: $gutter ;
}
.project-details {
	p {
		flex-basis: 50%;
	}		
	margin-top: 		$gutter*1.5;
	margin-bottom: 	$gutter*1.75;
	padding-top: 			$gutter*1.5;
	padding-bottom: 	$gutter*1.5;
	border-top: 		1px solid $shade-light;
	border-bottom: 	1px solid $shade-light;
	> p {
		margin-top: 0;
		margin-bottom: $gutter/8;
	}
	&__list {
		list-style: none;
		padding: 0;
		margin: 0;
		width: 100%;
		@include makeFlexbox(row, center);
		flex-wrap: wrap;
	}
	&__item {
		flex: 1 1 50%;
		@include makeFlexbox(column, flex-start, center);
		padding-left: 	$gutter/2;
		padding-right: 	$gutter/2;
		margin-bottom: 	$gutter/2;
	}
	&__number {
		font-size: 3rem;
		margin-bottom: $gutter/4;	
	}
	&__fact  {
		font-size: 1.125rem;
		font-weight: 300;
	}
	@media screen and (min-width: $tablet) {
		&__list {
			flex-direction: row;
		}
		&__item {
			flex-basis: 50%;
		}
	}
	@media screen and (min-width: $desktop) {
		&__list {
			flex-direction: row;
			justify-content: flex-start;
			flex-wrap: nowrap;
		}
		&__item {
			flex-basis: 25%;
		}
	}
}
/* Contact block */
.ca-contact-component {
	&__wrap {
		flex: 1 1 100%;
		@include makeRow();
		padding-left: 0;
		padding-right: 0;
	}
	.ca-contact-info, .ca-contact-map {
		@include makeCols(5);
	}
	.ca-contact-info {
		margin-bottom: $gutter;
	}
	.ca-contact-heading {
		&-col {
			width: 100%;
		}
		margin-top: 0;	
	}
	.ca-contact-col {
		@include makeCols(10/3);
		margin-bottom: $gutter;
	}
	.ca-contact-office {
		font-size: 1rem;
	}
	.ca-contact-map-embed {
		@include objectEmbed(1/1);	
	}
	@media screen and (min-width: $tablet) {
		
		.ca-contact-map-embed {
			padding-top: 100%;
		}
	}
	@media screen and (min-width: $desktop) { 
		
		.ca-contact-info {
			margin-bottom: 0;	
			.bc-content-row {
				flex-direction: column;
			}
			.ca-contact-col {
				flex-basis: 100%;
				max-width: 	100%;
			}
		}
		.ca-contact-addresses {
			flex-direction: row;
		}
		.ca-contact-map {
		}
		.ca-contact-map-embed {
			padding-top: 100%;
		}
	}
	@media screen and (min-width: $large) {
		
		
	}
}// .ca-contact-component
/** Back links at the bottom of inner pages **/
.page-bottom-links {
	height: #{(84px/14px)}rem;
	.bc-content-row {
		border-top: none;
		flex-direction: row;
		align-items: flex-end;
		justify-content: space-between;
		padding-top: 0;
		padding-bottom: $gutter/2; 
	}
	.is-label {
		font-size: 0.8rem;
	}
	& &-back, & &-top {
		padding-left: 	$gutter/2;
		padding-right: 	$gutter/2;
	}
	& &-back {
		@include makeFlexbox($direction: row, $align: stretch);
		.icon-wrap, a {
			display: inline-flex;
			align-items: center;
			padding: $gutter/4 $gutter/4;
		}
		.icon-wrap {
			background-color: $shade-mid;
			margin-right: $gutter/8;
		}
		.svg-icon {
			fill: 			$white;
			max-width: 	1.5rem;
			max-height: 1.5rem;
		}
		a {
			padding-left: 	$gutter/2;
			padding-right: 	$gutter/2;
			background-color: $shade-lightest;
			transition: background-color $buttonTransition $easing;
			&:hover, &:focus, &:active {
				background-color: $shade-mid;
				color: $white;
			}
		}
	}
	& &-top {
		position: relative;
		min-height: 5.25rem;
		min-width: 	5.25rem;
		padding: 0; 
		padding-top: 0.32rem;
		align-self: flex-end;
		transition: opacity 600ms $easing; 
		&:hover, &:active, &:focus {
			a {
				color: $white;	
			}
			.svg-icon {
				fill: $shade-mid;
				stroke: darken($shade-mid, 10%); 
			}
		}
		&:hover {
			cursor: pointer;
		}
		.svg-icon {
			position: absolute;
			width:  	100%;
			height: 	100%;
			z-index: 	0;
			fill: 		$grey-light; 
			stroke: 		darken($grey-light, 10%); 
			stroke-width: 			2; 
			@include 	makeButtonTransition(fill);
		}
		a {
			text-decoration: underline;
			display: inline-flex;
			flex-direction: column;
			justify-content: center;
			align-items: center;
			padding-top: $gutter / 2;
			position: absolute;
			width:  100%;
			height: 100%;
			z-index: 0;
			
		}
		&.is-hidden {
			opacity: 0;
		}
		&.is-visible { 
			opacity: 1;
		}
		&.is-fixed, &.is-absolute {
			opacity: 1;
			bottom: $gutter / 2;
			&.is-visible { 
					opacity: 1;
			}	
		}
		&.is-fixed {
			margin-right: 0;
			position: fixed;
			left: 	auto;
			right: 	$gutter / 2;
		}
	}
	&.single-link {
		.bc-content-row {
			justify-content: flex-end;
		}
	}
	@media screen and (min-width: $desktop) {
		.bc-content-row {
			padding-top: $gutter;
		}
		& &-top {
			margin-right: 8%;
		}
	}
	@media screen and (min-width: $desktop) {
		height: #{(120px/16px)}rem;
	}
} 
/* Sits at the bottom of top level elements, contains an .is-page-scroll-link */
.page-scroller {
	flex: 1 1 100%;
	display: flex;
	justify-content: center;
	align-items: center;
	&__link {
		flex: 1 1 100%;
		align-self: stretch;
		@include makeFlexbox(row, center, center, $inline: true);
		&:hover, &:active, &:focus, &.is-active {
			.svg-icon {
				animation: caratbounce 2s ease-out infinte;
			}
		}
		.svg-icon {
			max-width: 2rem;	
			max-height: 2rem;	
		}
	}	
}//page scroller
//CA membership logos
.ca-memberships-logos {
	& &__wrap {
		display: flex;
		flex-wrap: wrap;
	}
	& &__logo {
		flex: 1 1 auto;
		display: block;
		padding-left:  $gutter/2;
		padding-right: $gutter/2;
		margin-bottom: $vertical-unit;
		min-width: 0;
	}
	@media screen and (min-width: 550px) {
		& &__logo {
			flex: 1 1 33.333%;
			max-width: 33.333%;
		}
	}
	@media screen and (min-width: $tablet) {
		& &__logo {
			flex: 1 1 33.333%;
			max-width: 33.333%;
		}
	}
	
}


