/** Landing page hero **/
.bc-hero {
	&--landing-hero {
		@extend .bc-hero;
		height: 100vh; 
		padding: $gutter/2;
		position: relative;
		.bc-hero-block {
			position: relative;
			width: 100%;
			height: 100%;
		}
		.bc-hero__feature-link {
			position: relative;
			width: 100%;
			height: 100%;
		}
		.bc-hero-image { 
			flex: 1 1 100%;
			min-width: 100%;
			overflow: hidden;
			position: relative;
			z-index: 0;
			img {
				position: absolute;
				top: 	50%;
				left: 50%;
				transform: translate(-50%, -50%);
				height: 100%;
				width: 100%;
				object-fit: cover;
			}
		}
		.bc-hero-header {
			position: absolute;
			padding-top: 		0;
			padding-bottom: 0;
			width: 100%;
			height: 10%;
			align-items: stretch;
			transition: background-color $buttonTransition $easing;
			z-index: 20;
			&.menu-active {
				background-color: $white;
				.bc-header-logo {
					h1 {
						font-size: 1.125rem; 
						a {
							color: $black;	
						}
					}
				}
				.svg-icon {
					fill: $black;
					max-width: 	1.5rem;
					max-height: 1.5rem;
				}
				border-bottom: 1px solid $shade-lightest;
			}
		}
		.bc-hero-body {
			flex-basis: 	auto;
			position: 		absolute;
			max-width: 		92%;
			left: 		 		4%;
			bottom: 	 		4%;
			z-index: 			10;
			margin-left: 	auto;
			margin-right: auto;
			background-color: transparent;
			@include makeFlexbox($direction: column, $justify: flex-start);
		}
		.bc-landing-hero__news {
			width: (100% - 14%);
			align-self: flex-end;
			margin: 0; 
			padding: $vertical-unit/2 $gutter;
			background-color: $brand-yellow;
			.is-label {
				color: $black;
				text-transform: uppercase;
			}
			p {
				font-size: 1.125rem;
				margin: 0;
				
			}
			a {
				@include makeFlexbox($align: center, $inline: true);
				text-decoration: none;
				&:active, &:hover, &:focus {
					text-decoration: underline;
				}
			}
			.svg-icon {
				margin-left: $gutter/4;
				max-height: 1.25rem;
				max-width: 2rem;
			}
			
			@media screen and (min-width: $tablet) {
				width: (100% - 9%);
			}
		}
		.bc-landing-hero-text {
			flex: 1 1 100%;
			@include makeFlexbox($direction: row, $justify: flex-start, $align: stretch);
			padding: 		$gutter/1.5 ;
			padding-left: 0;
			margin-bottom: 	4%;
			background-color: $white;
			color: $black;
			.svg-icon {
				display: block; 
				fill: $black;
				max-width: 	44%;
				max-height: 2rem;
				margin-left: auto;
				margin-right: auto;
				
			}
			.bc-landing-hero-quote-mark {
				flex: 1 1 14%;
			}
			h1 {
				width: 86%;
				flex: 1 1 auto;
				margin-top: 0;
				font-family: $serifFont;
				font-size: 1.72rem;
			}
			
		}// .bc-landing-hero-text
		.bc-landing-hero-links {
				margin-top: 		0;
				margin-bottom: 	0;
				padding-left: 0; 
				width: 100%;
				@include makeFlexbox($direction: row, $justify: flex-start, $align: stretch); 
				li {
					margin-bottom: 0;
					background-color: $white;
					list-style: none;
					flex: 1 1 (100%/3);
					max-width: (100%/3);
					@include makeFlexbox($direction: row, $justify: flex-start, $align: stretch);
					&:nth-child(3) {
						a {
							border-bottom-color: $brand-red;
						}
						.bc-color-square {
							&:after {
								background-color: $brand-red;	
							}
						}
					}
					&:nth-child(2) {
						a {
							border-bottom-color: $brand-blue;
						}
						.bc-color-square {
							&:after {
								background-color: $brand-blue;	
							}
						}
					}
					&:nth-child(1) {
						a {
							border-bottom-color: $brand-yellow;
						}
						.bc-color-square {
							&:after {
								background-color: $brand-yellow;
							}
						}
					} 
				}//li
				a {
					@include makeFlexbox($direction: row, $align: center, $inline: true); 
					flex: 						1 1 auto;
					font-size: 				0.96rem;
					text-transform: 	uppercase;
					position: 				relative;	
					overflow: 				hidden;
					padding: 1rem 0 1rem $gutter/2;
					border-bottom: 3px solid;
				}
				.bc-color-square, a {
					padding-top: 		$gutter/2;
					padding-bottom: $gutter/2;
				}
				.bc-color-square {
					display: none; 
				}
				.bc-arrow-hover, .bc-dots-hover {						
					width: 20%;
					height: 100%;
					right: 0;
					position: absolute;
				}
				.bc-dots-hover {
					&:after {
						content: 			"";
						position: 		absolute;
						top: 					50%;
						width: 				100%;
						height: 			1px;
						border-top: 	1px dotted $black;
					}
				}
				.bc-landing-hero-link-text {
					width: 78%;
				}
				.bc-arrow-hover {
					width: 20%;
					@include makeFlexbox($direction: row, $justify: center, $align: center, $inline: true); 
				}
				.svg-icon {
					fill: 			$black;
					max-width: 	100%;
					max-height: 100%;
				}
				@media screen and (max-width: $tablet - 1px) {
					.bc-roll-up-link {
						.bc-roll-up-link-default {
							top: -100%;
						}
						.bc-roll-up-link-active {
							background-color: transparent;
							top: 0;
						}
					}	
				}
			}//ul 
		@media screen and (max-width: 719px) and (orientation: landscape) {
			.bc-hero-body {
				padding-right: $gutter/2;
				
			}
			.bc-landing-hero-text {
				margin-bottom: 2%;
				.bc-landing-hero-quote-mark {
					flex-basis: 8%;
					max-width: 	8%;
				}
			}
		}
		@media screen and (min-width: 720px) {
			.bc-hero-image {
				flex-basis: 100%;
				z-index: 1;
			}
			.bc-hero-body {
				top: 				auto;
				right: 			auto;
				transform: 	translate(-0%, 0%);
			}
			
			.bc-landing-hero-text {
				flex-basis: auto;
				border-bottom: 	none;
				margin-bottom: 4%;
				padding-top: 			1rem;
				padding-right: 		$gutter;
				padding-bottom: 	1rem;
				h1 {
					width: 86%;
					flex: 1 1 auto;
					margin-top: 0;
					font-family: $serifFont;
					line-height: 1.4;
					font-size: 1.8rem;
				}
				.bc-landing-hero-quote-mark {
					flex-basis: 8%;
				}
				.svg-icon {
					position: relative;
					top: 0.28rem;
					margin-top: auto;
				}
			}
			.bc-landing-hero-links {
				flex-basis: auto;
				flex-direction: row;
				flex-wrap: nowrap;
				li {
					flex-basis: 100/3*100%;
					background-color: $white;
				}
				a {
					font-size: 1.125rem;
					padding-top: 		1rem;
					padding-bottom: 1rem;
					border-bottom: none;
				}
				.bc-color-square {
					display: inherit;
					width: 24%;
					padding-top: 		1rem;
					padding-bottom: 1rem;
					&:after {
						width: 	1.25rem;
						height: 1.25rem;
					}
				}
				.bc-color-square, a {
					padding-top: 		$gutter/2;
					padding-bottom: $gutter/2;
				}
			}
		}// (min-width: $desktop) and (orientation: landscape)
		@media screen and (min-width: $desktop) {
			.bc-landing-hero-text {
				h1 { font-size: 1.75rem;}
			}
			.bc-landing-hero-links { 
				a {
					font-size: 1.125rem;
				}
			}
		}
		@media screen and (min-width: $desktop) and (orientation: landscape) {
			.bc-hero-body {
				width: 			61.8%;
				left: (38.2%);
				bottom: (38.2%/6);
				transform: translateX(-50%);
			}
		}
		@media screen and (min-width: $desktop) {
			.bc-landing-hero-text {
				margin-bottom: 2%;
			}
		}
		@media screen and (min-width: $desktop) and (orientation: portrait) {
			.bc-landing-hero-text {
				.bc-landing-hero-quote {
					.svg-icon {
						max-height: 2.5rem;
					}
				}
				h1 { font-size: 2.5rem;}
			}
			.bc-landing-hero-links {
				a {
					font-size: 1.5rem;
				}
				.bc-color-square {
					&:after {
						width: 	1.75rem;
						height: 1.75rem;
					}
				}
			}
		}
		@media screen and (min-width: $med) {
			.bc-landing-hero-text {
				h1 { font-size: 2rem;}
			}
			.bc-landing-hero-links { 
				a {
					font-size: 1.25rem;
				}
			}
		}
		@media screen and (min-width: $x-large) {
			.bc-hero-body {
				width: 56%;
				left: 33%;
				transform: translateX(-50%);
			}
			.bc-landing-hero-text {
				h1 {
					font-size: 2.2rem; 
				}
			}
			.bc-landing-hero-links { 
				a {
					font-size: 1.375rem;
				}
				.bc-color-square {
					&:after {
						width: 	1.5rem;
						height: 1.5rem;
					}
				}
			}
		}
		@media screen and (min-width: $xx-large) {
			.bc-landing-hero-text {
				h1 {
					font-size: 1.75rem; 
				}
			}
			.bc-landing-hero-links { 
				a {
					font-size: 1.125rem;
				}
				.bc-color-square {
					&:after {
						width: 	1.25rem;
						height: 1.25rem;
					}
				}
			}
		}
		&--video {
			@extend .bc-hero--landing-hero ;
			.bc-hero-block {
				overflow: hidden;	
			}
			.bc-hero-video {
				display: none;
				position: relative;
				background-repeat: no-repeat;
				background-size: cover;
				background-position: 50% 50%;
				flex: 1 1 60%;
				width: 100%;
				min-height: 60%;
				@media screen and (min-width: $tablet) {
					position: absolute;
					top: 	0;
					left: 0;
					width: 	100%;
					height: 100%;	
				}
				@media screen and (min-width: $desktop) {
					background-image: none !important;
				}
				@media screen and (min-width: $tablet) {
					display: inherit;				
				}
			}
			.bc-hero-video__video {
				position: absolute;
				object-fit: cover;
				top: 	50%;
				left: 50%;
				transform: translate(-50%, -50%);
				width: 	100%;
				height: 100%;	
			}
			@media screen and (min-width: $tablet) {
				.bc-hero-image { 
					display: none;
				}
				.bc-hero-video {
					display: inherit;
				}
				.bc-hero-header {
					background-color: transparent;
					background-image: linear-gradient(to bottom, rgba($black, 0.8), transparent);
					color: $white;
					height: 18%;
					align-items: flex-start;
					padding-top: $gutter/2;
					.bc-header-menu--show-hide {
						.bc-header-logo {
							> h1 {
								color: $white;
							}
						} 
					} 
					.bc-header-menu__links {
						padding-top: 		$gutter/2;
						padding-bottom: $gutter/2;
					}
				}
			}
		}// &--video
		&--carousel {
			.bc-hero__carousel {
				height: 100%;
				width: 100%;
				display: flex; 
				.flickity-viewport {
					width: 100%;
				}
			}
			.bc-hero__carousel__slide {
				display: block;
				min-width: 100%;
				min-height: 100%;
				position: relative;
				margin-right: $gutter/2;
					&__img {
						position: absolute;
						object-position: center;
						display: block;
						object-fit: cover;
						width: 100%;
					}
			}
			//Controls and caption for the carousel
			.bc-hero__carousel__info {
				display: flex;
				width: 100%;
				margin-bottom: 4%;
			}
			.bc-hero__carousel__info__text, .bc-hero__carousel__controls {
				padding: 1rem;
			}
			.bc-hero__carousel__info__text {
				flex: 1 1 80% ;
				display: flex;
				flex-direction: column;
				
				background-color: $brand-yellow;
				.is-label {
					margin-bottom: $vertical-unit/4;
				}	
				.bc-hero__carousel__title {
					font-weight: 500;
					font-size: 1.25rem;
					margin-top: 0;
				}
			}
			.bc-hero__carousel__controls {
				flex: 1 1 20%;
				display: flex;
				align-items: flex-end;
				flex-wrap: wrap;
				padding-left: 	$gutter/4;
				padding-right:  $gutter/4;
				&__play {
					display: flex;
					justify-content: center;
					align-items: center;
					width: 100%;
					padding: $gutter/2 $gutter/4;
					.is-label {
						color: $shade-01;	
					}
					.play {
						display: none;
					}
				}
				&__next, &__prev {
					flex: 0 1 50%;
					max-width: 50%;
					padding: $gutter/4 ;
				}
				&__next > .svg-icon, &__prev > .svg-icon {
					max-width:  1.714rem;
					max-height: 1.714rem;
					fill: $shade-01;
				}
			}
			@media screen and (min-width: $desktop) {
				.bc-hero__carousel__info {
					margin-bottom: 2%;
				}
			}
		}// &--carousel
	}// &.bc-landing-hero
}// .bc-hero