.bc-inner-nav {
	/* Defaults */
	margin: 0; padding-left: 0; 
	ul { margin: 0; padding-left: 0; }
	> li, ul > li {
		list-style: none; 
		margin: 0; 
		padding: 0;
	}
	li {
		@include makeFlexbox($align: stretch, $wrap: wrap);
		color: $grey-light;
		> a {
			display: inline-flex;
			align-items: center;
			color: $grey;
			&.is-label {
				font-weight: normal;
			}
		}
		.bc-inner-nav-label {
			flex: 1 1 auto;
			padding-left: 0;
			padding-right: $gutter/6;
		}
		.bc-inner-nav-icon {
			display: inline-flex;
			justify-content: center;
			align-items: center;
			flex: 0 1 0;
			padding-left: 	$gutter/6;
			padding-right: 	$gutter/6;
			border-left: 1px solid rgba($black, 0.20);
			.svg-icon { 
				height: 1rem;
				width:  1rem;
				//fill: $black ;
			}
		}
		.bc-inner-nav-dropdown {
			height: 0;
			overflow: hidden;
			min-width: 100%;
			transition: height $menuSlideTransition $easing ;
		}
		&:hover, &:focus, &:active {
			> a {
				background-color: darken($white, 5%);
			}
		}
	}
	/* - Defaults - */
	
}