/* Big Cat Cards */ 
.bc-cards-heading {
	flex: 1 1 100%;
	width: 100%;
	padding: 0 $gutter/2 $gutter; 
	h1, h2, h3, h4, h5 { margin-top: 0; }
	@media screen and (max-width: $laptop) {
		padding-left: 10%; 
	}
}
.bc-cards {
	> .bc-content-row {
		@media screen and (max-width: 767px) { 
		}
	}
}
.bc-card {
	position: relative;
	@include makeFlexbox($direction: column, $align: stretch); 
	margin-bottom: $gutter;
	overflow: hidden; 
	@include makeCols($cols: 10); 
	flex-basis: 100% ;
	max-width: 100% ;
	color: $white;
	.svg-icon {
		fill: 				$white;
	}
	a {
		display: block;
		text-decoration: none;
	}
	&-img { 
		position: relative;
		> img {
			max-width: 100%;
		}
		&.is-square {
			position: relative;
			overflow: hidden;
			> img {
				position: absolute;
				top: 	0;
				left: 0;
				width: 100%;
				object-fit: cover;
			}
			padding-top: 100%;
		}
	}
	&-content {
		background-color: rgba($black, 0.72);
		> a {
			@include makeFlexbox($direction: column, $justify: space-between);
			height: 100%;
			padding: $gutter/1.5 $gutter/1.5;
		}
		&-heading {
			@include makeFlexbox($align: center);
			margin-bottom: $gutter	;
			&-text {	 
				font-size: 1.5rem;
				margin: 0;
				margin-left: $gutter/2;
			}
			.svg-icon {
				max-height: 2.75rem;
				max-width: 	2.75rem;
			}
		}
	}
	&-info {
		min-width: 100%;
	}
	&-title { 
		margin-top: 0; 
		margin-bottom: $gutter/4;
		text-decoration: none;
	}
	&-subtitle {
		font-size: 1.25rem;
		font-weight: 300;
		margin-top: 0;
	}
	
	&-link {
		@include makeFlexbox($direction: row, $align: center);
		padding: $gutter/4 0 ;
		font-size: 		1.25rem;
		font-weight: 	300;
		color: $white;
		overflow: hidden;
		.svg-icon {
			fill: $white;
			flex: 1 1 auto;
			max-height: 1.25rem;
			max-width: 	1.25rem;
		}
	}
	&-link-text {
		z-index: 10;
	}
	&--slide-up, &--slide-up-overlay {
		@extend .bc-card;
		.bc-card-content, .bc-card-img, .bc-card-img--focus-image, .bc-card-img-overlay {
			transition: top $menuSlideTransition*1.61 $easing;	
		}
		.bc-card-content {
			border-top: 4px solid rgba($brand-yellow, 1);
		}
		.bc-card-content-heading {
			margin-bottom: 1.25rem;
		}
		.bc-card-img {
			position: relative;
			top: 0;
			//border-bottom: 4px solid $brand-yellow; 
		}
		.bc-card-content, .bc-card-img--focus-image { 
			position: absolute;
			top: 100%;
			bottom: 0;
			left: $gutter/2;
			height: 100%;
			width: calc(100% - #{$gutter});
			
		}
		
		&:hover, &:focus {
			.bc-card-img {
				top: -100%;
			}
			.bc-card-content, .bc-card-img--focus-image { 
				top: 0px;	 
			}	
			.bc-card-link-text {
				text-decoration: underline;
			}
			.bc-card-link {
				&::before {
					top: 0;
				}
			}
		}
	}// .bc-card--slide-up 
	&--slide-up-overlay {
		.bc-card-img-overlay {
			font-weight: 			300;
			background-color: rgba($black, 0.24);
			position: 				absolute;
			top: 							0;
			left: 						$gutter/2;
			height: 					100%;
			width: 						calc(100% - #{$gutter});
			padding-top: 			50%;
			z-index: 					10;
			&__content {
				position: 				absolute;
				top: 0;
				height: 					100%;
				width: 						100%;
				@include makeFlexbox($direction: row, $justify: flex-start, $align: center);
				padding: 					$gutter/1.5 $gutter/1.5;
			}
			
		}
		.bc-card-title {
			font-size: 1.625rem;
		}
		.bc-card-content-heading {
			margin-bottom: 0;
		}
		&:hover, &:active, &:focus {
			.bc-card-img-overlay {
				top: -100%;
			}
		}
		
		@media screen and (min-width: $desktop) {
			
			.bc-card-content {
				.bc-card-title {
					font-size: 1rem;
				}
			}
		}
	}// &--slide-up-overlay
	
	/* We are real card */
	&--plain-text {
		.bc-card-content {
			height: 100%;
			background-color: $shade-light; 
			transition: background-color $menuSlideTransition $easing;
			> a {
				justify-content: center;
				align-items: center;
				padding: 0; 
			}
			.bc-card-title {
				text-align: center;
				font-size: 2rem;
				font-weight: 300;
				font-style: italic;
			}
			.svg-icon {
				max-width: 	3rem;
				max-height: 3rem;
				fill: $white;
			}
			
		}
		
		&.is-square {
			.bc-card-content {
				@include isSquare;
				> a {
					position: absolute;
					top: 0;
					left: 0;
					bottom: 0;
					right: 0;
				}
			}
		}
		&:hover, &:focus, &:active {
			.bc-card-content {
				background-color: $shade-mid;
				.bc-card-content {
					.bc-card-title {
						text-decoration: underline;
					}
				}	
			}
		}
	}// .bc-card--plain-text
	&.ca-values-card {
		.bc-card-content {
			> a { 
				justify-content: center;
			}
			&-heading {
				margin-bottom: 0.9rem;
				&-text {
					font-size: 2rem;	
				}
			}
			.svg-icon {
				max-width: 	3rem;
				max-height: 3rem;
			}
			.bc-card-info {
				@include makeFlexbox(row, flex-start, center);
				margin-bottom: $gutter/3; 
				&-content {
					//flex: 1 1 70%;
					padding-left: $gutter/2;
					h2 {
						margin: 0;
					}
				}
				.svg-icon {
					fill: $white;
				}
				color: $white;
				.bc-card-title {
					font-size: 1.75rem;
				}
			}
		}//.bc-card-content--centered
		.ca-values-card__value { 
			font-family: $serifFont;
			font-size: 1.5rem;
			line-height: 1.3;
			margin-bottom: $gutter/1.5; 
		}
		.ca-values-card__person {
			font-size: 0.9rem;
			margin-top: 0;
		}
		
	}//&.ca-values-card
	&:hover {
		cursor: pointer;
	}
}// .bc-card 
.bc-content-row {
	&.bc-cards-row {
		flex-direction: row;
		flex-wrap: wrap;
	}
	&.bc-cards-row--full-bleed {
		padding-left: 	0;
		padding-right: 	0;
		padding-bottom: 0;
		.bc-cards-heading {
			padding-left:  $gutter;
			padding-right: 0;
		}
		.bc-card {
			padding-left: 	0;
			padding-right: 	0;
			margin-bottom: 0;
		}
		.bc-card-content {
			width: 100%;
			left: 0;
		}
		@media screen and (min-width: $laptop) {
			.bc-cards-heading {
				padding-left: 5%; 
			}
		}
		@media screen and (min-width: $content-max-width) {
			padding-left: 	0;
			padding-right: 	0;
		}
	}

}

