img {
	max-width: 100%;
}
.has-feature-bg-image {
	background-repeat: no-repeat;
	background-position: center;
	background-size: cover;
}
.bc-video-embed:not(.bc-video-embed--video) {
	@include videoEmbed($videoAR); 	
	margin-top: $gutter;
	margin-top: $gutter;
}
