.bc-hero {
	@extend .bc-content-row;
	padding: 0 $gutter;
	height: 85.6vh;
	position: relative;
	overflow: hidden;
	
	.bc-hero-block {
		@include makeCols($cols: $gridColsCount, $full-bleed: true);		
		flex-basis: 87.5%;
		@include makeFlexbox($direction: column, $align: flex-start);
		width: 100%;
	}// .bc-hero-block
	.bc-hero-body {
		background-color: rgba($white, 0.2); 
		position: relative;
		flex: 1 1 80%;
		margin-bottom: $gutter/4; 
		@include makeFlexbox(column, center, flex-start);
		&:focus {
			outline: none;
		}
		&-text {
			position: relative;
			background-color: transparent;
		}
	}// .bc-hero-block
	.bc-hero-header, .bc-hero-footer {
		flex: 						1 1 10%;
		background-color: rgba($white, 0.4);
	}
	.bc-hero-header {
		@include makeFlexbox($direction: row, $justify: space-between, $align: center);	
	}
	&--in-page {
		height: auto;
		padding-top: 		$gutter*3;
		padding-bottom: $gutter*3;
	}
	&--slider { 
		@extend .bc-hero;
		&:focus {
			outline: none;
		}
		@include makeFlexbox(column, flex-start, stretch);
		padding-top: 		0;
		padding-bottom: 0;
		height: 85.6vh;
		.bc-hero-footer {
			flex-direction: column;
			justify-content: space-between; 
			align-items: center;
		}
		&-slides {
			flex: 					1 1 92%;
			max-height: 		92%;
			min-width: 			100%;
			padding-top: 		$gutter/2;
			padding-bottom: $gutter/2;

		}
		&-slide {
			width: 					100%;
			height: 				100%;
			@include makeFlexbox(row, center, center);
			margin-left: 	$gutter/2;
			margin-right: $gutter/2;
			img {
				min-width: 	0;
				max-height: 100%;
			}
		}
		&-controls {
			width: 100%;
			min-height: 86%;
			background-color: $white;
			@include makeFlexbox(row, center, stretch);
			&__next, &__prev, &__counter {
				max-width: 	5rem;
			}
			&__next, &__prev {
				flex: 1 1 auto;
				@include makeFlexbox(column, center, center);

				background-color: $offwhite;
				transition: background-color $quicktrans $easing;
				&:not(.bc-slider-controls--disabled) {
					&:hover, &:active, &:focus {
						background-color: $shade-superlight;
						outline: 1px dotted $shade-light;
					}	
				}
				&:hover {
					cursor: pointer;
				}
			}
			&--disabled {
				opacity: 0.48;
			}
			&__counter {
				flex: 1 1 auto;
				@include makeFlexbox(row, center, center);
				font-size: 1.125rem;
			}
			.svg-icon {
				max-width: 	1.25rem;
				max-height: 1.25rem;
			}
		}

		@media screen and (max-width: 530px)  {
			&-controls {
				&__next, &__prev, &__counter {
					height: 		3rem;
					width: 			3rem;
					.svg-icon {
						max-width:   1.25rem;
						max-height:  1.25rem;
					}
				}	
			}
		}
		@media screen and (min-width: 531px) and (max-width: 1023px)   {
			&-controls {
				&__next, &__prev, &__counter {
					height: 		4rem;
					width: 			4rem;
					.svg-icon {
						max-width:   1.75rem;
						max-height:  1.75rem;
					}
				}
			}
		}
		@media screen and (max-width: 1023px) {
			.bc-hero-footer {
				position: static;
			}
			&-controls {
				height: 0;
				overflow: visible;
				position: inherit;
				&__next, &__prev, &__counter {
					position: absolute;
				}
				&__next, &__prev {
					background-color: rgba($white, 0.84);
					top: 50%;
					transform: translateY(-50%);
					&:not(.bc-slider-controls--disabled) {
						&:hover, &:active, &:focus {
							background-color: rgba($white, 0.88);
						}
					}
				}	
				&__prev {
					left: $gutter/4;
				}
				&__next {
					right: $gutter/4;
				}
				&__counter {
					right: 			$gutter;
					bottom: 		$gutter/3;
				}
			}
		}
		@media screen and (min-width: $desktop)  {
			&-controls {
				position: absolute;
				right: 0;
				top: 50%;
				transform: translateY(-50%);
				width: 20%;
				&__next, &__prev, &__counter {
					padding: 0;
					flex: 			1 1 calc(100%/3);
					max-width: 	calc(100%/3);
				}
				&__counter {
					font-size: 1.0rem;
				}
			}
		}
		@media screen and (min-width: $desktop) and (orientation: portrait) {
			&.bc-hero {
				.bc-slider-slides {
					flex-basis: 94.8%;
					max-height: 94.8%;
				}
				.bc-hero-footer {
					flex-basis: 7.2%;
					max-height: 7.2%;
					align-items: center;
				}
			}
		}
	}// .bc-hero--slider
	&--text-hero {
		@extend .bc-hero;
		.bc-hero-block {
			flex-basis: 			87.5%;
			width: 100%;
			margin-left: 	auto;
			margin-right: auto;
		}	
		.bc-hero-body {
			&-text {
			}// &-text
			&-links {
				margin: 	0;
				padding: 	0;
				list-style: none;
			}
			&-link {
				margin-bottom: $gutter/2;
			}
		}
		
	}// .bc-text-hero
	&--video-embed {
		@extend .bc-hero;
		.bc-hero-body {
			&-text {
				color: $white;
				.svg-icon {
					max-height: 2.5rem;
					max-width: 	2.5rem;
				}
			}// .bc-hero-body-text
			&-subtext {
				> a {
					@include makeFlexbox($direction: row, $justify: flex-start, $align: center);
					.svg-icon {
						fill: $white;
						margin-left: 	$gutter/2;
						max-width: 		3rem;
						max-height: 	3rem;
					}
				}
			}// .bc-hero-body-subtext
		}// .bc-hero-body
	}
	&-footer { 
		flex: 					0 1 10%;
		width: 					100%;
		position: 			relative;
		@include makeFlexbox($direction: row, $justify: center, $align: stretch);
		.bc-hero-footer-scroll {
			position: 			relative;
			min-height: 100%;
			//clip-path: ellipse(0px 0 at 50%);
			&-link {
				width: 	20rem;
				height:	20rem;
				left: 50%;
				font-size: 0.88rem;
				color: $shade-mid;
				transition: background-color 500ms $easing;
				@include makeFlexbox($direction: row, $justify: center, $align: flex-start);
				border-radius: 50%;
				&:hover, &:active, &:focus {
					background-color: rgba($brand-yellow, 0.8);
					border-color: $black;
					color: $black;
					.svg-icon {
						&.scroll-down-arrow {
							fill: $black;
							animation: caratbounce 1200ms infinite ease-in;
						}
					}
				}
			}
		}
		.svg-icon {
			&.scroll-down-arrow {
				position: relative;
				fill: 			$shade-mid;
				margin-top: $gutter/16;
				max-height: 1.6rem;
				max-width: 	1.6rem;	
				top: 11%;
				transform: translate(0, -50%);
			}
		}
		@media screen and (min-width: $tablet) {
			height: 		calc(8.4vh - #{$gutter}/4);
			flex-basis: 10%;
			.svg-icon {
				&.scroll-down-arrow {
					max-height: 1.8rem;
					max-width: 	1.8rem;	
					top: 12%;
				}
			}
		}
	}// .bc-hero-footer
	@media screen and (min-width: $tablet) {
		&.bc-content-row {
			flex-direction: column;
			flex-wrap: nowrap;
			align-items: center;
		}
	}
	@media screen and (min-width: $desktop) {
		.bc-hero-block {
			&.bc-hero-bg {
				color: $white;
			}
		}
		.bc-hero-body-subtext {
			margin-top: $gutter;
		}
	}
	@media screen and (min-width: $med) {
		&.bc-content-row {
			justify-content: center;
		}
		&.bc-text-hero {
			.bc-hero-block {
				&.bc-hero-bg {
					flex-basis: 80%;
					max-width: 	80%;	
				}	
			}
		}
	}
}