/** Two-col feature - has an image and a text block **/
.person-profile {
	&.bc-content-row {
		padding-bottom: 0;
	}
}
.two-col-feature {
	@include makeRow($align: flex-start);
	
	padding-left:  0; 
	padding-right: 0 ;
	position: relative;
	.short-col, .long-col {
		flex: 1 1 100%;
		padding-left: 	$gutter/2;
		padding-right: 	$gutter/2;
		display: flex;
		flex-direction: column;
	}
	figure {
		flex: 1 1 100%;
		.two-col-feature__image-wrap {
			position: relative;
			width: 100%;
			height: 100%;
			overflow: hidden;
		}
		img {
			position: static;
			width: 100%;
			height: 100%;
			object-position: center;
			object-fit: cover;
		}
	}
	figcaption {
		padding: $gutter/2 $gutter/2;
	}
	.content-title {
		margin-top: $gutter/2;
	}
	.content-subtitle { 
		color: $bc-blue;
		font-size: 1rem;
		font-weight: 300;
		text-transform: uppercase;
		margin-top: $gutter/2;
	}
	.content-intro {
		line-height: 1.58;
	}
	.ca-arrow-link {
		font-size: 1.125rem;
	}
	@media screen and (min-width: $tablet) {
		flex-direction: row;
		.short-col, .long-col {
			margin-bottom: 0;
		}
		.short-col {
			flex-basis: 40%;
			max-width: 	40%;
			
		}
		.long-col {
			flex-basis: 60%;
			max-width: 	60%;
		}
	}
	@media screen and (min-width: 860px) {
		flex-direction: row;
		figure {
			img {
				position: absolute;
				top: 0;
			}
			.two-col-feature__image-wrap {
				height: 			calc(100vh - 23.6vh);
				padding-top: 	calc(100vh - 23.6vh);
			}
		}
		&.two-col-feature--left {
			.long-col {
				order: 0;
			}
			.short-col {
				order: 1;
			}
		}
		.short-col {
			flex-basis: $gr-small;
			max-width: 	$gr-small;
		}
		.long-col {
			flex-basis: $gr-large;
			max-width: 	$gr-large;
		}
	}
	@media screen and (min-width: $tablet) and (orientation: portrait) {
		.short-col {
			margin-bottom: 0;
		}
		.long-col {
			margin-bottom: 0;
		}
		figure {
			img {
				position: absolute;
				top: 0;
			}
			.two-col-feature__image-wrap {
				height: calc(100vh - 61.6vh);
				padding-top: calc(100vh - 61.8vh); 
			}
		}
	}
	@media screen and (min-width: $desktop) {
		
		
	}
}// .two-col-feature 
/** -- Two-col feature - has an image and a text block -- **/