.bc-fade-in-up {
	top: $gutter;
	opacity: 0;
	transition: top 400ms $easing, opacity 800ms $easing;
	position: relative;	 
	&.bc-fade-in-up--loaded { 
		top: 0px;
		opacity: 1;
	} 
}
@keyframes caratbounce {
		
		
		50% {
			transform: translateY(-35%);  
		}
		100% {
			transform: translateY(-50%); 
		}
}
@keyframes fade-out {
	from {
		opacity: 1;
	}
	to {
		opacity: 0;
	}
}
/*0% {
		transform: translateY(80%); 
	}
	50% {
		transform: translateY(100%); 
	}
	
	100% {
		transform: translateY(80%); 
}*/