.bc-content-container {
	max-width: $content-max-width; 
	margin-left: 	auto;
	margin-right: auto;
	&:focus {
		outline: none;
	}
	&:first-of-type {
		.bc-content-row {
			padding-top:  0.75rem;
		}		
	}
}

.bc-content-row {
	@include makeRow($paddingTop: 4.25rem, $paddingBottom: $vertical-unit*2);
	
	&:nth-child(1n+2) {
		padding-top: 0;
		border-top: none;
	}
	.bc-content-row {
		margin-left: 	-$gutter/1;
		margin-right: -$gutter/1; 
		border-top: none;
	}
	.bc-content-column {
		padding-left: $gutter/2;
		padding-right: $gutter/2;
		> h1:first-child {
			margin-top: 0;
		}
		&--indented {
			
			@media screen and (min-width: 1240px) {
				flex-basis: 60%;
				max-width: 60%;
				margin-left: (2/$gridColsCount*100%);
			}
			@media screen and (min-width: $laptop) {
				
			}
		}
	}
	&.bc-cards-intro-row {
		padding-bottom: $gutter*1.5;
	}
}
.bc-content-container {
	&:nth-child(1) {
		.bc-content-row {
			border-top: none;
		}
		.bc-general-content-row {
			padding-top: $vertical-unit * 3;
		}
	}
}
/** Template: two-column layout **/
.bc-main {
  @include makeRow();
	padding-top: 		$gutter;
	padding-bottom: $gutter*1.5;
}
@media screen and (min-width: 1024px) {
  .bc-main {
    flex-direction: row;
  }
}
.bc-main {
	.bc-sidebar {
		flex: 1 1 0;
		padding-left: 1rem;
		padding-right: 1rem;
	}
	.bc-main-body {
		flex: 1 1 0;
		padding-left: 1rem;
		padding-right: 1rem;
		h1:first-child {
		margin-top: 0;
	}
	}
	@media screen and (min-width: $desktop) {
		 .bc-sidebar {
				flex-basis: 25%;
				max-width: 25%;
			}
			.bc-main-body {
				flex-basis: 75%;
				max-width: 75%;
			}
	}
}
/** - Template: two-column - **/