			<div class="bc-content-container"> 
				<section class="person-profile" aria-label="Bryan Brady, Cooney Architects">
					<div class="two-col-feature">
						<div class="short-col">
							<figure>
								<img src="../assets/media/imgs/bryan.jpg" alt="Bryan Brady, Partner" />
								<figcaption> 
									<svg class="svg-icon">
										<use xlink:href="../assets/media/svg/bc-icons.svg#quotes"></use>
									</svg>	
									<p>I believe architecture has a social responsibility to society.</p>
								</figcaption>
							</figure>
						</div>
						<div class="long-col" aria-label="Main content">
							<div class="bc-general-content-wrap">
								<h1 class="content-title">Bryan Brady</h1> 
								<h2 class="content-subtitle">Partner</h2>
								<p class="content-intro leader-text"><strong>Architecture inspires and challenges me to be creative, I constantly strive to do the best I can do and to do everyting best that it can be done; working with others fighting for the same values: to achieve excellence. </strong></p>
								<p>I joined Cooney Architects in 2004 and re-joined in 2007. I am a registered Architect and graduated in 2003 with a B.Sc. (Hons) Arch Tech.</p>
								<p class="ca-arrow-link">
									<a href="#projects" class="is-page-scroll">
										See my projects with Cooney Architects
									</a>	
									<svg class="svg-icon"> 
										<use xlink:href="../assets/media/svg/bc-icons.svg#arrow"></use>
									</svg>
								</p>
								
								<h3>Qualifications</h3>
								<p>B.Sc. (Hons) Arch Tech MRIAI</p>
								<table class="bc-table person-qualifications"> 
									<tbody>
										<tr>
											<td>2019</td>
											<td>RIAI Conservation Induction Module Grade 3</td>
										</tr>
										<tr>
											<td>2018</td>
											<td>MRIAI</td>
										</tr>
										<tr>
											<td>2017</td>
											<td>UCD Professional Practice modules; Architectural Practice: Construction Legislation; Procurement & Contracts</td>
										</tr>
										<tr>
											<td>2003</td>
											<td>B.Sc. (Hons) Arch Tech; Waterford Institute of Technology</td>
										</tr>
									</tbody>
								</table>
								<div class="project-details"> 
									<ul class="project-details__list">
										<li class="project-details__item">
											<span class="project-details__number">27</span> 
											<span class="project-details__fact">projects</span>
										</li>
										<li class="project-details__item">
											<span class="project-details__number">8</span>
											<span class="project-details__fact">commendations</span>
										</li> 
										<li class="project-details__item">
											<span class="project-details__number">2</span>
											<span class="project-details__fact">awards</span>
										</li>
										<li class="project-details__item">
											<span class="project-details__number">1,200</span>
											<span class="project-details__fact">sq. m</span>
										</li>
									</ul>
								</div>
							</div><!-- // .bc-general-content-wrap -->
						</div><!-- // .long-col -->
						<div class="content-separator-wrap">
							<div class="content-separator"></div>	
						</div>
					</div><!-- // .two-col-feature -->
					<div class="page-scroller">
						<a class="page-scroller__link is-page-scroll" href="#projects">
							<svg class="svg-icon scroll-down-arrow">
								<use xlink:href="../assets/media/svg/bc-icons.svg#carat--down"></use>
							</svg> 	
						</a>
					</div>
				</section><!-- // .person-profile -->
			</div><!-- // .bc-content container - person profile -->