			<div class="bc-content-container page-bottom-links">
				<div class="bc-content-row">
					<div class="page-bottom-links-back">	
						<span class="icon-wrap">
							<svg class="svg-icon">
								<use xlink:href="../assets/media/svg/bc-icons.svg#arrow-short--left"></use>
							</svg>
						</span>
						<a href="@@link-target" class="page-bottom-links-back-link is-label">
							@@link-text
						</a>
					</div>
					<div class="page-bottom-links-top">
						<svg class="svg-icon">
							<use xlink:href="../assets/media/svg/bc-icons.svg#triangle"></use>
						</svg>
						<a class="page-bottom-links-top-link is-label">Top</a>
					</div>
				</div>
			</div>